<h1>@ViewBag.trail.TrailName</h1>
<br>
<br>
<h3>Description:</h3>
<p>@ViewBag.trail.Description</p>
<h3>Trail Length:</h3>
<p>@ViewBag.trail.TrailLength miles</p>
<h3>Elevation Change:</h3>
<p>@ViewBag.trail.Elevation feet</p>
<br>
<br>
<p>Longitude:@ViewBag.trail.Longitude N</p>
<p>Longitude:@ViewBag.trail.Latitude W</p>